$size: 70px;

.node {
  border: 1px solid black;
  border-radius: 50%;
  width: $size;
  height: $size;
  position: relative;
  margin: 20px;
  float: left;

  &:before {
    content: attr(data-node-id);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:nth-child(3n+1) {
    clear: both;
  }
}

svg {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  display: block;

  circle {
    fill: #cbd5ff;
    stroke: black;
    stroke-width: 1;
  }

  line {
    stroke: black;
    stroke-width: 1;
  }
}