<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Distributed algorhythms visualisation</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link href="css/styles.css" rel="stylesheet" />
        <script type="module" src="javascript/app.js"></script>
    </head>

    <body>

        <svg id="paper" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg"></svg>

    </body>
</html>

